@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Retainer Agreement";
}

<div class="text-center">
    <h1 class="display-4">Generate Retainer Agreement (Vakalatnama) For Supreme Court and High Courts of India</h1>
</div>

<form asp-controller="Retainer" method="post">
<div asp-validation-summary="All" class="text-danger"></div>
<div class="container">

<table class="table">
    <thead>
    <tr>
        <th>Information</th>
        <th>Advocate Details</th>
        <th>Client Details</th>
    </tr>
    </thead>
    <tr>
        <td><label asp-for="Data.Advocate.FirstName" class="col-form-label">First Name</label></td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.FirstName"/>
                <span asp-validation-for="Data.Advocate.FirstName" class="text-danger"></span>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.FirstName"/>
                <span asp-validation-for="Data.Respondent.FirstName" class="text-danger"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Middle Name</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.MiddleName"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.MiddleName"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.LastName"/>
                <span asp-validation-for="Data.Advocate.LastName" class="text-danger"></span>

            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.LastName"/>
                <span asp-validation-for="Data.Respondent.LastName" class="text-danger"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Organisation Title</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.OrgTitle"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.OrgTitle"/>
            </div>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
    <tr>
        <th>Information</th>
        <th>Advocate Details</th>
        <th>Client Details</th>
    </tr>
    </thead>
    <div class="row">
        <div class="col-12">
            <h5>Address</h5>
        </div>
    </div>
    <tr>
        <td>Line1</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.Line1"/>
                <span asp-validation-for="Data.Advocate.Address.Line1" class="text-danger"></span>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.Line1"/>
                <span asp-validation-for="Data.Respondent.Address.Line1" class="text-danger"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Line2</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.Line2"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.Line2"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Line3</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.Line3"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.Line3"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>City</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.City"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.City"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>District</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.District"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.District"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>State</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.State"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.State"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Pin Code</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Advocate.Address.PinCode"/>
            </div>
        </td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.Respondent.Address.PinCode"/>
            </div>
        </td>
    </tr>

</table>

<div class="row">
    <div class="col-12">
        <h5>Case Details</h5>
    </div>
</div>

<table class="table">
    <tr>
        <td>Petitioner</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.CaseDetails.Petitioner"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Court Name</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.CaseDetails.CourtName"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Jurisdiction</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.CaseDetails.Jurisdiction"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Case Type</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.CaseDetails.CaseType"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Case Number Part1</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.CaseDetails.CaseNumberPart1"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Case Number Part2</td>
        <td>
            <div class="form-control">
                <input asp-for="@Model.Data.CaseDetails.CaseNumberPart2"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Filing Date</td>
        <td>
            <input asp-for="@Model.Data.CaseDetails.FilingDate" class="form-control"/>
        </td>
    </tr>
</table>

<button type="submit" class="btn btn-primary">Generate</button>
</div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
